<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.petero.droidfish"
      android:versionCode="45"
      android:versionName="1.39"
      android:installLocation="auto">
    <supports-screens android:largeScreens="true"
                      android:anyDensity="true" />
    <application android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:debuggable="false">
        <activity android:name=".DroidFish"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/x-chess-pgn" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Preferences"
                  android:label="@string/preferences">
        </activity>
        <activity android:name=".activities.EditBoard"
                  android:label="@string/edit_board"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".activities.EditPGNLoad"
                  android:label="@string/load_game_title"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".activities.EditPGNSave"
                  android:label="@string/save_game_title"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".activities.LoadScid"
                  android:label="@string/load_scid_game_title"
                  android:configChanges="orientation">
        </activity>
        <activity android:name=".activities.CPUWarning"
                  android:label="@string/cpu_warning_title">
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk android:minSdkVersion="3"
              android:targetSdkVersion="10"/>
</manifest>
