/stockfish-arm64-v8a
/stockfish-armeabi
/stockfish-armeabi-nopie
/stockfish-armeabi-v7a
/stockfish-armeabi-v7a-nopie
/stockfish-mips
/stockfish-mips-nopie
/stockfish-mips64
/stockfish-x86
/stockfish-x86_64
/stockfish-x86-nopie
/eco.dat
